{{!-- <div>
    <p>Titulo: {{title}}</p>
    <p>Precio: {{price}}</p>
    <p>Cantidad: {{quantity}}</p>
</div>
-------------------------- --}}


    <td>{{title}}</td>
    <td>{{price}}</td>
    <td>{{quantity}}</td>
